# Miscellaneous
*.log
*.plist
*.swp
*.lock
*.tmp
*.pub
*.g.dart
*.idea
*.iml
*.ipr
*.xml
*.properties
*.hprof
DS_Store
.dart_tool/
.fvm/
.packages
.pub/
.build/
.idea
GeneratedPluginRegistrant
Pods

# IntelliJ
*.iml
*.ipr
.idea

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*/**/generated_plugin_registrant.dart

# iOS
ios/Podfile.lock
ios/Pods
ios/Runner.xcworkspace
ios/Runner/project.xcworkspace
ios/Runner.xcodeproj/project.xcworkspace

# Flutter
flutter_*.log
pubspec.lock

# VS Code
.vscode/
*.code-workspace

# Xcode
*.xcuserstate
project.xcworkspace
